// Styling for services section

.services{
    padding: 50px 0;
    background-color: #95DEE3;
    .text-services{
        color: #95DEE3;
    }
    .service-item {
        margin-bottom: 30px;
    }
}


